/**
* @package    CDU Common Template
* @author     Christoph Hagedorn
* @copyright  Copyright © 2007 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
**
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/

body {
	padding-left: 0;
	padding-right: 0;
	overflow: visible;
	min-width: 1320px !important;

	// Responsive Classes
	.visible-large, .visible-desktop {
		display: inherit !important;
	}
	.hidden-large, .hidden-desktop {
		display: none !important;
	}

	/* Grid Layout */
	.rt-container {
		width: 1320px;
		min-width: 1320px;
		.rt-grid-1 {
			width: 110px;
		}
		.rt-grid-2 {
			width: 220px;
		}
		.rt-grid-3 {
			width: 330px;
		}
		.rt-grid-4 {
			width: 440px;
		}
		.rt-grid-5 {
			width: 550px;
		}
		.rt-grid-6 {
			width: 660px;
		}
		.rt-grid-7 {
			width: 770px;
		}
		.rt-grid-8 {
			width: 880px;
		}
		.rt-grid-9 {
			width: 990px;
		}
		.rt-grid-10 {
			width: 1100px;
		}
		.rt-grid-11 {
			width: 1210px;
		}
		.rt-grid-12 {
			width: 1320px;
		}

		.rt-push-1 {
			left: 110px;
		}
		.rt-push-2 {
			left: 220px;
		}
		.rt-push-3 {
			left: 330px;
		}
		.rt-push-4 {
			left: 440px;
		}
		.rt-push-5 {
			left: 550px;
		}
		.rt-push-6 {
			left: 660px;
		}
		.rt-push-7 {
			left: 770px;
		}
		.rt-push-8 {
			left: 880px;
		}
		.rt-push-9 {
			left: 990px;
		}
		.rt-push-10 {
			left: 1100px;
		}
		.rt-push-11 {
			left: 1210px;
		}

		.rt-pull-1 {
			left: -110px;
		}
		.rt-pull-2 {
			left: -220px;
		}
		.rt-pull-3 {
			left: -330px;
		}
		.rt-pull-4 {
			left: -440px;
		}
		.rt-pull-5 {
			left: -550px;
		}
		.rt-pull-6 {
			left: -660px;
		}
		.rt-pull-7 {
			left: -770px;
		}
		.rt-pull-8 {
			left: -880px;
		}
		.rt-pull-9 {
			left: -990px;
		}
		.rt-pull-10 {
			left: -1100px;
		}
		.rt-pull-11 {
			left: -1210px;
		}

		.rt-prefix-1 {
			padding-left: 110px;
		}
		.rt-prefix-2 {
			padding-left: 220px;
		}
		.rt-prefix-3 {
			padding-left: 330px;
		}
		.rt-prefix-4 {
			padding-left: 440px;
		}
		.rt-prefix-5 {
			padding-left: 550px;
		}
		.rt-prefix-6 {
			padding-left: 660px;
		}
		.rt-prefix-7 {
			padding-left: 770px;
		}
		.rt-prefix-8 {
			padding-left: 880px;
		}
		.rt-prefix-9 {
			padding-left: 990px;
		}
		.rt-prefix-10 {
			padding-left: 1100px;
		}
		.rt-prefix-11 {
			padding-left: 1210px;
		}
	}
}

body .rt-container [class*="rt-grid"] {
	display: inline;
	float: left;
}

.rt-menu-mobile {
	display: none !important;
}

.gf-menu-device-container.responsive-type-panel ~ ul.gf-menu {
	display: inherit !important;
}


