/**
* @package    CDU Common Template
* @author     Christoph Hagedorn
* @copyright  Copyright © 2007 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
**
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/


@logowidth: 200px;

.rt-error-rocket {
	width: @logowidth;
	//height: 49px;
	float: left;
	background: url(../images/logo/cdu_europalogo_mit_rand_rgb.png) 0 0 no-repeat;
	//background: url(../images/gantryrocket.png) 0 0 no-repeat;
	margin-right: 15px;
	margin-top: 15px;
}

.rt-error-content {
	margin-left: 365px;
	margin-top: 15px;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.rt-error-rocket {
		width: 100%;
		background-size: @logowidth;
	}
	.rt-error-content {
		margin-left: 335px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.rt-error-rocket {
		width: 100%;
		background-size: @logowidth;
	}
	.rt-error-content {
		margin-left: 295px;
	}
	.error-title {
		font-size: 1.8em;
	}
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.rt-error-rocket {
		width: 100%;
		//height: 260px;
		margin: 0 auto;
		background-size: @logowidth;
		background-position: 50% 0;
		float: none;
	}
	.rt-error-content {
		margin-left: 0;
	}
	.error-title {
		font-size: 1.8em;
	}
}

@media only screen and (max-width: 480px) {
	.rt-error-rocket {
		width: 100%;
		//height: 240px;
		margin: 0 auto;
		background-size: @logowidth;
		background-position: 50% 0;
		float: none;
	}
	.rt-error-content {
		margin-left: 0;
	}
	.error-title {
		font-size: 1.6em;
	}
}