/**
* @package    CDU Common Template
* @author     Christoph Hagedorn
* @copyright  Copyright © 2007 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
**
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/


// included by template.less
// which refers to variables.less



// Top
#rt-top-surround-pattern { // pattern must be outer div and contain the bg pic
	background-color: @cduEcru;
}

#rt-top-surround {
	.box-shadow( 0px 0px 4px rgba(0,0,0,0.4));
}

#rt-top {

}


#rt-header-surround {
        background-color: rgba(255, 153, 0, 0.88);
	color: @toptext;

	.title {
		color: @toptitle;
	}
	a {
		&:hover {
			color: @tophover;
		}
	}
}


#rt-header-surround-pattern { // pattern must be outer div and contain the bg pic
	@media only screen and (min-width: 960px) {
		background: url("../images/patterns/orangeverlauf.png") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}



#rt-drawer {
	background: @drawerbackground;
	//border-bottom: 1px solid @drawershadow;
	//.box-shadow(inset 0 0 5px rgba(0,0,0,0.5));
}



// Showcase

#rt-showcase {
	//box-shadow(inset 0 0 5px rgba(0,0,0,0.5));
	//border: 1px solid @showcaseborder;
	background-color: rgba(0, 70, 160, 0.4);
        .box-shadow( 0px 0px 4px rgba(0,0,0,0.4));
}


#rt-showcase-pattern {
	@media only screen and (min-width: 960px) {
		background: url("../images/patterns/blauverlauf.jpg") no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

#rt-showcase {
	a {
		&:hover {
			color: @showcasehover;
		}
	}
}

#rt-showcase, #rt-top-surround {
	.box3 {
		.title {
			border-bottom: 1px solid @showcasebackground;
			.box-shadow(0 1px 0 @showcasebackground2);
		}
	}
	.title3 {
		.title {
			.box-shadow(0 2px 4px rgba(0,0,0,0.4));
			border-bottom: 1px solid @topshadow;
		}
	}
	.button, .readon, .readmore, button.validate, .formelm-buttons button {
		&:active {
			.box-shadow(0 1px 0 rgba(255,255,255,0.2));
		}
	}
}


#rt-feature {
	//background: @drawerbackground;
	//border-bottom: 1px solid @drawershadow;
	//box-shadow(inset 1px 4px 4px rgba(0,0,0,0.4));
}

// Main Top
#rt-maintop {
	background: @maintopbackground url(../images/patterns/noise.png);
	//border-bottom: 1px solid @white;
	//box-shadow: 0 1px 0 #cecece, inset 0 2px 4px 0 rgba(0,0,0,0.1);
}


// main
#rt-mainbody-surround {
//	background: url("../images/patterns/ecruverlauf.jpg") no-repeat center center fixed;
//	-webkit-background-size: cover;
//	-moz-background-size: cover;
//	-o-background-size: cover;
//	background-size: cover;
}


#rt-mainbody-surround-pattern{
       // background-color: rgba(225, 225, 205, 0.9);
//	background-color: rgba(219, 219, 191, 0.6);
}


// #rt-main, #rt-feature, #rt-breadcrumb {
#rt-main {
	background: #ffffff;
}

.breadcrumbs, .breadcrumb {
  background: inherit;
}


#rt-extension {
	border-top: 1px solid @white;
	background: @maintopbackground url(../images/patterns/noise.png);
}


// Footer

#rt-footer-surround {

}

#rt-footer {

}



#rt-copyright {
	//border-top: 1px solid @cduOrangeDark;
	.box-shadow(inset 0 3px 12px rgba(0,0,0,0.19));
	//background-color: @cduEcru;
	border-bottom: 5px solid @cduOrangeDark;

	a, ul.menu li .separator {
		color: @cduOrangeDark;
	}

	.nav li ,
        .menu li {
		&>a:hover {
			color: @cduOrange;
		}
	}
}



// Modules
/*
.title3 {
	.title {
		#gradient > .vertical(@topbackground, @topbackground2);
		.box-shadow(0 2px 4px rgba(0,0,0,0.4));
		border-bottom: 1px solid @topshadow;
		color: @toptitle;
                text-shadow: 1px 1px 1px @topshadow;
	}
}

.box3 {
	#gradient > .vertical(@topbackground, @topbackground2);
	.box-shadow(0 2px 4px rgba(0,0,0,0.4));
	border-bottom: 1px solid @topshadow;
	color: @toptext;text-shadow: 0 2px 3px @topshadow;
	.title {
		color: @toptitle;
		text-shadow: 1px 1px 1px @topshadow;
		border-bottom: 1px solid @showcasebackground;
		.box-shadow(0 1px 0 @showcasebackground2);
	}
	a {
		&:hover {
			color: @toptitle;
		}
	}
}
*/

// Module Overrides


// Extras
.promo {
	h1 {
		text-shadow: 1px 2px 7px rgba(0,0,0,0.9);
		b {
			color: #e7ecf0;
			-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(40%, rgba(0, 0, 0, 1)),
			 color-stop(100%, rgba(0, 0, 0, 0.50)));
			-moz-mask-image: -moz-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(40%, rgba(0, 0, 0, 1)),
			 color-stop(100%, rgba(0, 0, 0, 0.50)));
			mask: url(../images/mask.svg#light);
		}

	}
	p b {
		color: @toptitle;
	}
}



