/**
* @package    CDU Common Template
* @author     Christoph Hagedorn
* @copyright  Copyright © 2007 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
**
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/

// Top Section -----------------
@topbackground:			#ffffff;
@topbackground2:		#dddddd;
@toptext:			#6e6e6e;
@toptitle:			#303030;
@topshadow:			#ffffff;

// Showcase --------------------
@showcasebackground:	#d7d7d7;
@showcasebackground2:	#eeeeee;
@showcasebackground3:	#f5f5f5;
@showcasetext:			#6e6e6e;
@showcasetitle:			#303030;

// Logo
.logo-type-gantry #rt-logo {
	background: url(../images/logo/light/cdu_juelich_lz_uw_4c.png) 0 0 no-repeat;
}

// Top
#rt-top-surround {
	#gradient > .vertical(@topbackground, @topbackground2);
	color: @toptext;
	text-shadow: 0 2px 3px @topshadow;
	.box-shadow(0 2px 4px rgba(0,0,0,0.3));
	border-bottom: 1px solid @topshadow;
	.title {
		color: @toptitle;
		text-shadow: 1px 1px 1px @topshadow;
	}
	a {
		&:hover {
			color: @toptitle;
		}
	}
}

#rt-top-surround:after {
	background: url(../images/patterns/noise.png);
}

// Showcase
#rt-showcase {
	#gradient > .vertical(@showcasebackground, @showcasebackground2);
	color: @showcasetext;
	border-bottom: 1px solid @topshadow;
	.box-shadow(inset 0 -1px 0 rgba(0,0,0,0.15));
	text-shadow: 0 2px 3px @topshadow;
		.title {
			color: @showcasetitle;
			text-shadow: 1px 1px 1px @topshadow;
		}
}
#rt-showcase {
	a {
		&:hover {
			color: @showcasetitle;
		}
	}
}

.rt-showcase-pattern {
background-image: -webkit-linear-gradient(rgba(0,0,0,0.03) 2px, transparent 2px),-webkit-linear-gradient(0, rgba(0,0,0,0.03) 2px, transparent 2px),-webkit-linear-gradient(rgba(0,0,0,0.03) 1px, transparent 1px),-webkit-linear-gradient(0, rgba(0,0,0,0.03) 1px, transparent 1px);background-size:80px 80px, 80px 80px, 5px 5px, 5px 5px;background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;}

// Modules
.title3 {
	.title {
		#gradient > .vertical(@topbackground, @topbackground2);
		.box-shadow(0 2px 4px rgba(0,0,0,0.3));
		border-bottom: 1px solid @topshadow;
		color: @toptitle;text-shadow: 1px 1px 1px @topshadow;
	}
}

.box3 {
	#gradient > .vertical(@topbackground, @topbackground2);
	.box-shadow(0 2px 4px rgba(0,0,0,0.3));
	border-bottom: 1px solid @topshadow;
	color: @toptext;text-shadow: 0 2px 3px @topshadow;
	.title {
		color: @toptitle;
		text-shadow: 1px 1px 1px @topshadow;
	}
	a {
		&:hover {
			color: @toptitle;
		}
	}
}

// Module Overrides
#rt-showcase, #rt-top-surround {
	.box3 {
		.title {
			border-bottom: 1px solid #d1d1d1;
			.box-shadow(0 1px 0 @bodycontrast);
		}
	}
	.title3 {
		.title {
			.box-shadow(0 2px 4px rgba(0,0,0,0.3));
			border-bottom: 1px solid @topshadow;
		}
	}
}

// Extras
.promo {
	h1 {
		text-shadow: 1px 1px 0 @topshadow;
		b {
			color: @toptitle;
			-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(0, 0, 0, 1)), color-stop(40%, rgba(0, 0, 0, 1)), color-stop(0%, rgba(0, 0, 0, 0.50)));
			mask: url(../images/mask.svg#light);
		}

	}
	p b {
		color: @toptitle;
	}
}

#rt-drawer {
	background: @topbackground;
	border-bottom: 1px solid @topshadow;
	.box-shadow(inset 0 -2px 4px rgba(0,0,0,0.3));
}
