/**
* @package    CDU Common Template
* @author     Christoph Hagedorn
* @copyright  Copyright © 2007 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
*
*
	The installation routine of this template installs font types and logos
	of the german political party "Christlich Demokratischen Union Deutschlands (CDU)"
	on your web server:

	CDU Europa Logo
	CDU NRW Logo
	CDU Stadtverband Jülich Logo
	CDU Browser Icon (favicon)
	CDU Helvetica Schriftart
	CDU Kievit Schriftart
	CDU Skopex Schriftart

	The copyright of logos and font types of CDU are owned by CDU.

	You must not adapt, edit, change, transform, publish, republish,
	distribute, redistribute, broadcast, rebroadcast or show or play in public
	logos and font types of CDU (in any form or media) without prior written permission
	of Christlich Demokratischen Union Deutschlands (CDU).

	The source code of CDU Common Gantry Template is free software and licensed under
	the terms of the GNU General Public License
	Logos and font types of CDU are particularly not licensed under GPL.

	If you want to distribute this template to other organizations than CDU you have
	to remove CDU logos and font types from the installation package before.
*
**
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/

// Core
body {
	background: @bodybackground;
	color: @bodytext;
}

h1, h2, h3 {
	color: @cduOrangeDark;
}

h4, h5, h6 {
	color: @dark-grey;
}


// Logo
.logo-type-gantry #rt-logo {
	background: url(../images/logo/logo.png) 0 0 no-repeat;
	min-width: 200px;
}

.logo-type-cdu-europa #rt-logo {
	background: url(../images/logo/cdu_europalogo_mit_rand_rgb.png) 0 0 no-repeat;
	min-width: 252px;
}

.logo-type-cdu-juelich #rt-logo {
	background: url(../images/logo/cdu_juelich_lz_uw_4c.png) 0 0 no-repeat;
	min-width: 252px;
}



// Module Overrides
#rt-showcase .title {
	color: @cduOrange;
}


#rt-showcase, #rt-top-surround {

	color: @white;

	.box1, .box2 {
		color: @white;
		//text-shadow: 1px 1px 0 @bodycontrast;
		.title {
			color: @white;
			//text-shadow: 1px 1px 0 @bodycontrast;
			border-bottom: 1px solid @bodyborder3;
			.box-shadow(0 1px 0 @bodycontrast);
		}
	}
	.title1 {
		.title {
			color: @white;
			//text-shadow: 1px 1px 0 @bodycontrast;
			border: 1px solid @bodyborder;
		}
	}
	.title2 {
		.title {
			color: @white;
			//text-shadow: 1px 1px 0 @bodycontrast;
			.box-shadow(inset 0 2px 12px rgba(0,0,0,0.13));
		}
	}
}






// Modules
.title, .component-content h2 {
	color: @cduOrangeDark;
	//text-shadow: 1px 1px 0 @bodycontrast;
	border-bottom: 1px solid @bodyborder3;
	//.box-shadow(0 1px 0 @bodycontrast);
}
.title1 {
	.title {
		background: @white;
		border: 1px solid @bodyborder;
	}
}
.title2 {
	.title {
		color: @cduOrangeDark;
		//background: @footerbackground url(../images/patterns/noise.png);
		.box-shadow(inset 0 2px 12px rgba(0,0,0,0.13));
	}
}
.title4 {
	.title {
		color: @bodytext;
	}
}
.box1 {
	background: @white;
	border: 1px solid @bodyborder;
}
.box2 {
	color: @cduOrangeDark;
	background: @footerbackground url(../images/patterns/noise.png);
	.box-shadow(inset 0 2px 12px rgba(0,0,0,0.13));
}



// Buttons and Inputs
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button {
	color: @white;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 1px 0 rgba(255,255,255,0.2);
	&:hover {
		color: @white;
	}
	&:active {
		.box-shadow(0 1px 0 @bodycontrast);
	}
}
.readmore {
	a {
		color: @white;
		&:hover {
			color: @white;
		}
	}
}

.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button, .btn-primary {
	border-color: darken(@linkcolor, 20%);
	#gradient > .vertical(lighten(@linkcolor, 4%), darken(@linkcolor, 9%));
}



// refer to template.less for color settings
.menu-cdu {

	&>li {
		//color: @white;
		border: 1px solid rgba(255,255,255,0.1); // to keep distances on hover
		.box-shadow(0 0 3px rgba(0,0,0,0.0)); // to keep distances on hover
		#gradient > .horizontal(@cduOrangeDark, @cduOrangeLight);

		&:hover {
			#gradient > .horizontal(lighten(@cduOrangeDark, 10%), lighten(@cduOrangeLight, 10%));
			border: 1px solid @white;
			.box-shadow(0 0 3px rgba(0,0,0,0.85));
		}

		&.active {
			#gradient > .horizontal(lighten(@cduOrangeDark, 10%), lighten(@cduOrangeLight, 10%));
			border: 1px solid @white;
			.box-shadow(0 0 3px rgba(0,0,0,0.85));
		}

		&>a {
			color: @white;
			&:hover {
				background-color: transparent;
			}
		}
	}
}



// default Menu Modules
ul.menu {
	li.active.current, li#current.active {
		> a, > .item, > .separator {
			color: @cduOrangeDark;
		}
	}
}

ul.menu li .separator {
	color: @cduOrangeDark;
}


a {
	color: @cduOrangeDark;

	&:hover{
	color: @cduOrangeLight;
	}
}


.button:hover, .readon:hover, .readmore:hover, button.validate:hover, #member-profile a:hover, #member-registration a:hover, .formelm-buttons button:hover, .btn-primary:hover {
	#gradient > .vertical(lighten(@linkcolor, 10%), darken(@linkcolor, 3%));
}

.button:active, .readon:active, .readmore:active, button.validate:active, #member-profile a:active, #member-registration a:active, .formelm-buttons button:active, .btn-primary:active {
	#gradient > .vertical(darken(@linkcolor, 2%), lighten(@linkcolor, 8%));
}

// Branding
.powered-by {
	background: url(../images/logo/powered.png);
}

// Typography
.pagenav {
	li {
		background: @bodybackground2;
		border: 1px solid @bodyborder;
		box-shadow: inset 0 0 0 1px @white, 0 1px 2px rgba(0,0,0,0.2);
	}
}
.login-fields #username, .login-fields #password, #contact-form dd input, #contact-form dd textarea, #modlgn-username, #modlgn-passwd, #jform_email, #member-registration dd input, #search-searchword, .finder .inputbox, .inputbox {
	border: 1px solid #d9d9d9;
}
.component-content {
	.contact {
		.title {
			#gradient > .vertical(@bodycontrast, @bodyborder2);
			border: 1px solid @bodyborder;
			text-shadow: 0 1px 1px rgba(255,255,255,.75);
		}
	}
}
.pagination {
	ul {
		li {
			a {
				#gradient > .vertical(@bodycontrast, @bodyborder2);
				border: 1px solid @bodyborder;
				text-shadow: 0 1px 1px rgba(255,255,255,.75);
			}
			span {
				background: @bodybackground4;
				border: 1px solid @bodyborder;
				color: @bodytextlight;
			}
		}
	}
}
.breadcrumbs, .breadcrumb {
	a {
		&:after {
			color: @bodytextlight;
		}
	}
	.showHere {
		font-weight: bold;
		margin-right: 5px;
	}
}
.article-info {
	&.muted {
		color: inherit;
	}
	dd:before {
		text-shadow: 1px 1px 0 @bodycontrast;
	}
}

// Extras
#gantry-totop {
	background: @bodybackground2;
	border: 1px solid @bodyborder;
	box-shadow: inset 0 0 0 1px @white, 0 1px 2px rgba(0,0,0,0.2);
	&:active {
		.box-shadow(0 1px 0 @bodycontrast);
	}
}

#rt-copyright {
	#gantry-totop {
		background: @bodybackground2;
		border: 1px solid @bodyborder;
		box-shadow: inset 0 0 0 1px @white, 0 1px 2px rgba(0,0,0,0.2);
		&:active {
			.box-shadow(0 1px 0 @bodycontrast);
		}
	}
}


.tip-wrap {
	background: @bodycontrast;
	.box-shadow(0 0 5px rgba(0,0,0,0.3));
	color: @bodytext;
}
.system-unpublished .system-unpublished {
	background: @bodycontrast;
	border-color: @bodyborder;
}

// Typography
.tags .label-info {
	background: darken(@linkcolor, 10%);
}

// Abbreviations and acronyms
abbr[title] {
  border-bottom: 1px dotted @bodyborder;
}

// Blockquotes
blockquote {
  border-left: 5px solid @bodyborder;
  small {
    color: @bodytextlight;
  }

  &.pull-right {
    border-right: 5px solid @bodyborder;
  }
}

// Forms
legend {
  color: @bodytitle;
  border-bottom: 1px solid @bodyborder;

  small {
    color: @bodyborder;
  }
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  color: @bodytext;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: @bodycontrast;
  border: 1px solid @bodyborder;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
}

select {
  border: 1px solid @bodyborder;
}

// Uneditable inputs
.uneditable-input,
.uneditable-textarea {
  color: @bodytextlight;
  background-color: @bodybackground;
  border-color: @bodyborder;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
}

// Inputs
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  border-color: @bodyborder;
}

.input-prepend,
.input-append {
  .add-on {
    text-shadow: 0 1px 0 @bodycontrast;
    background-color: @bodybackground2;
    border: 1px solid @bodyborder;
  }
  &.input-append .media-preview {
  	margin: 0;
  }
}

// Form Actions
.form-actions {
  background-color: @bodybackground2;
  border-top: 1px solid @bodyborder;
}

.uneditable-input {
  background-color: @inputBackground;
  border-color: #eeeeee;
  .box-shadow(inset 0 1px 2px rgba(0,0,0,.025));
}

// Help Text
.help-block,
.help-inline {
  color: @gray;
}

// Extras
.table-bordered th {
	background-color: @bodybackground2;
}
.well {
	background-color: transparent;
	border: none;
	.box-shadow(none);
}

.nav-tabs.nav-stacked > li > a {
	background-color: @bodybackground2;
	&:hover {
		background-color: @bodybackground4;
	}
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd),
.cat-list-row0 {
	background-color: @bodybackground4;
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover,
.cat-list-row0:hover, .cat-list-row1:hover {
	background-color: @bodybackground3;
}

.filter-search.alert-info {
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	.inputbox {
		color: @bodyTextDark;
	}
}

// Notice Styles
p {
	&.success, &.info, &.error, &.warning {
		.border-radius(6px);
		padding: 15px;
		font-weight: bold;
		border: 1px solid;
		a {
			color: #666 !important;
			&:hover {
				color: #000 !important;
				text-shadow: none;
			}
		}
	}
	&.success {
		background: @successBackground;
		border-color: @successBorder;
		color: @successText;
	}
	&.info {
		background: @infoBackground;
		border-color: @infoBorder;
		color: @infoText;
	}
	&.error {
		background: @errorBackground;
		border-color: @errorBorder;
		color: @errorText;
	}
	&.warning {
		background: @warningBackground;
		border-color: @warningBorder;
		color: @warningText;
	}
}


.candidates .sprocket-strips {

	.sprocket-strips-content{

		.sprocket-strips-title{
			text-shadow: 1px 1px 0 #FFF;
		}
		.sprocket-strips-text{
			background-color: rgba(0, 0, 0, 0.4);
			border-radius: 2px;
			text-shadow: 1px 1px 0px #000;
		}
	}
}


// refer to menu.less too
// design rt-header main menu
.rt-block .gf-menu {

	li {
		>a {
			color: @white;
		}
	}
}


// design module menus
.rt-block .module-content .gf-menu {
	#gradient > .horizontal(@cduOrangeDark, @cduOrangeLight);
}




