/**
* @package    CDU Common Template
* @author     Christoph Hagedorn
* @copyright  Copyright © 2014 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
**
*
	The installation routine of this template installs font types and logos
	of the german political party "Christlich Demokratischen Union Deutschlands (CDU)"
	on your web server:

	CDU Europa Logo
	CDU NRW Logo
	CDU Stadtverband Jülich Logo
	CDU Browser Icon (favicon)
	CDU Helvetica Schriftart
	CDU Kievit Schriftart
	CDU Skopex Schriftart

	The copyright of logos and font types of CDU are owned by CDU.

	You must not adapt, edit, change, transform, publish, republish,
	distribute, redistribute, broadcast, rebroadcast or show or play in public
	logos and font types of CDU (in any form or media) without prior written permission
	of Christlich Demokratischen Union Deutschlands (CDU).

	The source code of CDU Common Gantry Template is free software and licensed under
	the terms of the GNU General Public License
	Logos and font types of CDU are particularly not licensed under GPL.

	If you want to distribute this template to other organizations than CDU you have
	to remove CDU logos and font types from the installation package before.
*
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/

// Core


.pager a, .pager span {
	margin: 0 0 0 10px;
}


#rt-header-surround-pattern {
	width: 100%;
}

#rt-header-surround {
	border-bottom: 5px solid @cduOrangeDark;
}

#rt-top-surround {
	min-height: 10px;
}

.rt-sticky { // refer to sticky.js and #rt-top-surround{min-height: 5px;}
	position: fixed;
	top: 0;
	z-index: 10;
	.box-shadow( 0 5px 6px rgba(0,0,0,0.43)); // shadow to look like being above content
	opacity: 0.94;
	border-top: 6px solid @cduEcru; // to avoid wrong outset shadow of top
}



#rt-transition.rt-hidden {
	opacity: 0;
}
#rt-transition.rt-visible {
	opacity: 1;
	.transition(opacity 0.4s ease-in);
}




#rt-extension .module-surround {
	padding: 0 5px;
	margin: 0 2px 0 0;
}


span[itemprop="keywords"] {
	margin-right: 5px;
}


// List Style
.module-content ul.whosonline,
.module-content ul.weblinks,
.module-content ul.mostread,
.tagspopular ul,
.tagssimilar ul,
.component-content .items-leading div >ul:not([class]),
.component-content .item >ul:not([class]),
.component-content .item-page div[itemprop="articleBody"]>ul:not([class]) {

		display: table;
		border-spacing: 8px 0;
		padding: 3px 5px;
		margin: 3px 0;

		li {
			display: table-row;

			&:before {
				display: table-cell;
				text-align: left;
				margin-right: 10px;
				font-family: FontAwesome;
				font-size: 80%;
				font-style: normal;
				font-weight: normal;
				color: @cduLinkColor;
			}
		}


		li ul { // 2nd level
			&>li:before {
				content: "\f096";
			}

			li ul { //3rd level
				&>li:before {
					content: "\f111";
				}
			}
		}

		&>li:before {
			content: "\f0c8";
		}

		// reset
		&:after {
			display: inherit;
			font-family: inherit;
			color:inherit;
			content: '';
			clear: both;
			font-size: 100%;
		}
}


.component-content .item-page {

	>ol:not([class]) {
		counter-reset: olCounter;
		display: table;
		border-spacing: 8px 2px;
		padding: 3px 5px;
		margin: 3px 0;

		&>li {
			counter-increment: olCounter;
			display: table-row;

			&:before {
				content: counter(olCounter) ")";
				 display: table-cell;
				text-align: left;
				color: @cduLinkColor;
				margin-right: 10px;
			}
		}

		// reset
		&:after {
			display: inherit;
			font-family: inherit;
			color:inherit;
			content: '';
			clear: both;
			font-size: 100%;
		}
	}

}




// Blocks
.rt-block {
	padding: 5px 0;
	margin: 7px auto 5px;
	position: relative;
}



// refer to styles.less for color settings
.menu-cdu
{
	//padding: 3px 0;
	margin:  3px 0;

	&>li {
		text-transform: uppercase;
		.font-family-cduhelvetroman;

		padding: 3px 5px;
		margin: 0 0 3px 0;

		.border-radius(6px);
	}
}



.search {
	margin: 7px auto 0;
	padding: 0 5px;
}

.date-block {
	margin: 7px auto 0;
	padding: 5px;
}


// Logo
.logo-block {
	padding: 0 5px;
	margin: 7px 7px;
}
#rt-logo {
	margin: 0;
	height: 50px;
	//width: auto;
	display: block;
        float: right;
}

// Header
#rt-top-surround {
	position: relative;
}
#rt-top-surround:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}
#rt-header, #rt-top {
	z-index: 2;
	position: relative;
}

// Navigation
.menu-block {
	padding: 0;
	// margin: 0;
}

.rt-menu-mobile {
	text-align: center;
	padding: 0 0 15px 0;
}

// Main
#rt-maintop {
	padding: 5px;
}


#rt-mainbody {

	margin: 0 5px;

	> .component-content {
		padding: 0 20px;

		.leading-0, .leading-1,
		.leading-2, .leading-3,
		.leading-4 {
			margin: 20px 0;
		}
	}
}


// Modules
.title, .component-content h2 {
	font-family: @cduTitleFont;
	//font-size: @baseFontSize;
	//line-height: @baseLineHeight;
	//font-weight: normal;
	//letter-spacing: normal;
	padding: 5px 0;
	margin: 5px 0 10px 0;
}
#rt-top-surround, #rt-showcase {
	.title {
		border: none;
		// box-shadow: none;
	}
}
.title1 {
	.title {
		margin: -11px -16px 20px -16px;
		padding: 10px 15px;
		.border-radius(4px);
	}
}
.title2 {
	.title {
		margin: -10px -15px 20px -15px;
		padding: 10px 15px;
		.border-radius(4px);
	}
}
.title3 {
	.title {
		margin: -10px -15px 20px -15px;
		padding: 10px 15px;
		.border-radius(4px);
	}
}
.box1, .box2, .box3 {
	.border-radius(4px);
}
.box1 {
	.module-surround {
		margin: -1px;
	}
}


#rt-footer {

	font-size: 11pt;

	.module-content{

		ul.menu{
			display: block;
		}
	}
}


// Menu Module
/*
ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	ul {
		list-style: none;
	}
	li {
		margin-bottom: 8px;
		a, .item, .separator {
			display: block;
			font-size: 1.1em;
			font-weight: bold;
		}
		a:before, .item:before, .separator:before {
			content: "\2022";
			font-family: FontAwesome;
			margin-right: 10px;
			display: inline;
			vertical-align: middle;
			font-size: 1.6em;
			font-weight: normal;
		}
	}
	li.active.current, li#current.active {
		> a:before, > .item:before, > .separator:before {
			content: "\f054";
			font-size: 1em;
			margin-right: 11px;
		}
	}
	ul.small {
		font-size: 14px;
	}
}
*/


// Buttons and Inputs
.button, .readon, .readmore, button.validate, #member-profile a, #member-registration a, .formelm-buttons button {
	display: inline-block;
	padding: 3px 10px;
	line-height: 1.7em;
	font-size: 1em;
	.border-radius(4px);
	border: 1px solid;
}

// Extras
.promo-image {
	float: left;
	margin: -10px 10px -30px -40px;
	width: 30%;
	img {
		max-width: 100%;
	}
}
.promo-desc {
	padding-top: 10px;
}
.promo {
	h1 {
		position: relative;
		font-size: 3.9em;
		line-height: 1.2em;
	}
	p {
		font-size: 1.5em;
		line-height: 1.7em;
	}
	.readon {
		margin-top: 10px;
	}
}

.gantry-example {
	position: relative;
	margin: 15px 0;
	padding: 39px 19px 14px;
	*padding-top: 19px;
	background-color: @white;
	border: 1px solid #dddddd;
	.border-radius(4px);
	.table, .well, blockquote {
		margin-bottom: 5px;
	}
	.lead {
		font-size: 18px;
		line-height: 24px;
	}
	> p:last-child {
		margin-bottom: 0;
	}
	+ .prettyprint {
		margin-top: -20px;
		padding-top: 15px;
	}
}
.gantry-example:after {
	content: "Example";
	position: absolute;
	top: -1px;
	left: -1px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
	color: #9da0a4;
	.border-radius(4px 0 4px 0);
	font-style: normal;
}
form.gantry-example {
	padding-bottom: 19px;
}

// Images
.gantry-img img, img.gantry-img {
	max-width: 100%;
	height: auto;
}


.module-content {

	.custom{

                position: relative;

		//&:after{
		//	content: '';
		//	position: absolute;
		//	top: 0;
		//	left: 0;
		//	right: 0;
		//	bottom: 0;
		//	z-index: 0;
		//}

		img.header {
			max-width: 100%;
			height: auto;
		}
	}
}




// Branding
.powered-by {
	display: block;
	width: 120px;
	height: 32px;
	margin: 0 auto;
	opacity: 0.8;
	.transition(opacity 0.2s ease-in);
	&:hover {
		opacity: 1;
	}
}

// Features
#gantry-totop {
	display: inline-block;
	padding: 4px 10px;
	.border-radius(3px);
}


#rt-accessibility {
	.rt-desc {

		float: left;
		margin-right: 8px;
		font-weight: bold;
		visibility: hidden;

		&:after {
			color: @black;
			font-family: FontAwesome;
			content: "\f034"; // fa-text
			font-size: 105%;
			visibility: visible;
		}
	}
	#rt-buttons {
		.button {
			line-height: 1em;
			padding: 0;
			width: 14px;
			height: 14px;
			text-align: center;
		}
		.small {
			font-size: inherit;
		}
		.small .button:after {
			content: '-';
		}
		.large .button:after {
			content: '+';
		}
	}
}


#comments-form-link .showform {
	margin: 10px 0 0 22px !important;
	font-size: 10pt;
	font-weight: normal;
}



div#user-article-manager {
	display: block;
	overflow: auto;
	font-size: 8pt;

	.title-column {
		max-width: 200px;
		overflow: hidden;
	}

	#table_frontend_user_article_list a {
		font-weight: normal;
	}
}


.jcemediabox-zoom-link {
	display:inline !important;
}


div.rg-ss-slice-container {
    margin-left: auto;
    margin-right: auto;
}




/* rockettheme rok-sprocket module */
.candidates .sprocket-strips {

	.sprocket-strips-container > li {
		margin: 5px;
	}

	.sprocket-strips-content{
		.sprocket-strips-text{
			height: 100px;
			font-size: 14pt;
		}
	}
}

.rg-ss-info{
	//right: 5%;
	//position: absolute;
	//bottom: 20%;
	float: right !important;
	position: relative !important;
	left: auto !important;

	.rg-ss-caption {
		font-size:10pt;
		line-height: normal;
	}
}



/* Sidemenu */
.sidemenu{
	margin: 0;
	padding: 0;

	.gf-menu l1 {
		margin: 0;
	}
}


// design module menus
.rt-block .module-content .gf-menu {
	border: 1px solid rgba(255,255,255,0.1); // to keep distances on hover
	.border-radius(@menuItemRadius);
	padding: 5px;
}


/* RSS Module  */
.srfrContainer.cdu {
	font-size: 11pt;

	ul.srfrList {
		display: table;

		&>li {
			padding: 5px;
			display: table-cell;
		}
	}

	p {
		margin: 2px 0;
		padding: 2px;
	}

	img.srfrImage {
		width: 200px;
	}

	.srfrPreText {
		font-size:10pt;
	}

	.srfrRow > h3 {
		font-size:11pt;
		line-height: 1.1em;
		margin:5px 0;
		height: 3.4em;
		overflow: hidden;
	}

	srfrFeedItemDate{
		font-size:11pt;
	}
}


/* JEvents Override,
	refer to html/com_jevents/assets/css
   seems not to work when logged in !?
*/
table.flatcal_main_t {
  margin:auto auto;
  width: 100%;
  border: 1px solid #DDD;
  border-collapse: inherit;
  border-spacing:inherit;
  border-radius:8px;
  background-color: rgb(255, 255, 255);
}
