/**
* @version   $Id$
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license   http://www.rockettheme.com/legal/license.php RocketTheme Proprietary Use License
*/

// Large Mode
@media only screen and (min-width: 1200px) {
	body.layout-mode-responsive {
		// Responsive Classes
		.visible-large {
			display: inherit !important;
		}
		.hidden-large {
			display: none !important;
		}
		.visible-desktop {
			display: inherit !important;
		}
		.hidden-desktop {
			display: none !important;
		}
	}
}

// Desktop Modes
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	body.layout-mode-responsive {
		// Responsive Classes
		.visible-large {
			display: none !important;
		}
		.hidden-large {
			display: inherit !important;
		}
		.visible-desktop {
			display: inherit !important;
		}
		.hidden-desktop {
			display: none !important;
		}
		.promo {
			h1 {
				font-size: 3.7em;
			}
			p {
				font-size: 1.3em;
			}
		}
		.promo-image {
			width: 40%;
		}
		.promo-image img {
			max-width: 100%;
		}
	}
}

@media (min-width: 768px) and (max-width: 959px) {
	body.layout-mode-responsive {
		// Responsive Classes
		.visible-tablet {
			display: inherit !important;
		}
		.hidden-tablet {
			display: none !important;
		}
		.hidden-desktop {
			display: inherit !important;
		}
		.visible-desktop {
			display: none !important;
		}
		.visible-large {
			display: none !important;
		}
		.hidden-large {
			display: inherit !important;
		}

		// Promo Showcase
		.promo-image {
			width: 38%;
		}
		.promo-image img {
			max-width: 100%;
		}
		.promo {
			h1 {
				font-size: 2.9em;
			}
			p {
				font-size: 1.1em;
			}
		}
		.promo-desc {
			padding-top: 0;
		}
	}
}

// Mobile Modes
@media (max-width: 767px) {
	body.layout-mode-responsive {

		padding: 0;

		.module-content ul>li {
			line-height: 28px;
		}

		div>a {
			margin: 0 0 15px;
			display:inline-block;
		}

		// Responsive Classes
		.visible-phone {
			display: inherit !important;
		}
		.hidden-phone {
			display: none !important;
		}
		.hidden-desktop {
			display: inherit !important;
		}
		.visible-desktop {
			display: none !important;
		}
		.hidden-large {
			display: inherit !important;
		}
		.visible-large {
			display: none !important;
		}

		// Logo
		#rt-logo {
			margin: 0 auto;
		}

		// Joomla Core
		.component-content {
			.column-1, .column-2, .column-3, .column-4 {
				width: 100% !important;
				float: none !important;
				margin: 0 !important;
			}
		}

		// Features
		div a#gantry-totop {
			margin: 0 auto;
			text-align: center;
			width: 90%;
                        display: block;
		}

		// Extras
		.gantry-width-20, .gantry-width-25, .gantry-width-30, .gantry-width-33, .gantry-width-40, .gantry-width-50, .gantry-width-60, .gantry-width-66, .gantry-width-70, .gantry-width-75, .gantry-width-80 {
			width: 100%;
		}
		.gantry-width-spacer {
			margin: 5px;
		}

		.row {
			margin: 0;
			display: block;

			.cell {
				display: block;
				width: 100%;
			}
		}

		.form-horizontal {
			.control-group {
				.control-label {
					float:none;
					width: auto;
					text-align:left;
				}
				.controls {
					margin-left: 0;
				}
			}
		}
		select {
			width: 100%;
		}
	}
}

// Promo Showcase
@media only screen and (min-width: 481px) and (max-width: 767px) {
	.promo-image {
		width: 48%;
		margin-top: 0;
		margin-bottom: 0;
		img {
			max-width: 100%;
		}
	}
	.promo {
		h1 {
			font-size: 2.2em;
		}
		p {
			font-size: 1em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
}
@media only screen and (max-width: 480px) {

	.module-content ul>li {
		line-height: 28px;
	}

	div>a {
		margin: 0 0 15px;
		display:inline-block;
	}

	.promo-image {
		margin: 0 auto;
		width: 100%;
		float: none;
		text-align: center;
		img {
			max-width: 50%;
		}
	}
	.promo {
		h1 {
			font-size: 2.2em;
		}
		p {
			font-size: 0.9em;
		}
	}
	.promo-desc {
		padding-top: 0;
	}
}