/**
* @package    CDU Common Gantry Template
* @author     Christoph Hagedorn (christoph.hagedorn@cduplus.de)
* @copyright  Copyright © 2014-2015 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
**
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/

@import "variables.less";
@import "jui/less/mixins.less";
@import "mixins/index.less";

// import the appropriate color scheme based on header
@import "menu-@{headerstyle}.less";



// refer to styles.less for color settings
.menu-cdu,
.nav.menu-cdu
{
	padding: 2px 0;
	margin:  3px 0;

	&>li {
		text-transform: uppercase;
		.font-family-cduhelvetroman;

		padding: 3px 5px;
		margin: 0 0 3px 0;

		.border-radius(6px);

		//color: @white;
		//border: 1px solid #fff; // to keep distances on hover
		.box-shadow(0 0 3px rgba(0,0,0,0.0)); // to keep distances on hover
		#gradient > .horizontal(@cduOrangeDark, @cduOrangeLight);

		&:hover {
			#gradient > .horizontal(lighten(@cduOrangeDark, 10%), lighten(@cduOrangeLight, 10%));
			border: 1px solid @white;
			.box-shadow(0 0 3px rgba(0,0,0,0.85));
			margin: -1px 0 2px 0;
		}

		&.active {
			#gradient > .horizontal(lighten(@cduOrangeDark, 10%), lighten(@cduOrangeLight, 10%));
			border: 1px solid @white;
			.box-shadow(0 0 3px rgba(0,0,0,0.85));
		}

		&>a {
			color: @white;
			&:hover {
				background-color: transparent;
			}
		}
	}
}




// design module menus
.rt-block .module-content .gf-menu {
	.border-radius(6px);
	padding: 5px;
	background-color: inherit;
	#gradient > .horizontal(@cduOrangeDark, @cduOrangeLight);
}


// refer to menu.less too
// design rt-header main menu
.rt-block .gf-menu {
	li {
		>a {
			color: @white;
		}
	}
}




// Core
.gf-menu {

	// Menu positioning
	list-style: none;
	margin: 0 5px;
	padding: 5px 0;

	// Clears
	&:after {
		display: table;
		content: '';
		clear: both;
	}

        // sub menues
	ul {
		list-style: none;
		margin: 7px auto 0;
        	padding: 5px 0;
	}


	// Basic font stuff
	.item {
		font-family: @menuFontFamily;
		font-size: @menuFontSize;
		line-height: @menuLineHeight;

		padding: 4px 8px;
		text-align: left;
		//text-shadow: 1px 1px 0 @menuTextShadow;
		text-decoration: none;
		display: block;
		outline: 0;
		cursor: pointer;
		.transition(background 0.2s ease-out, border 0.2s ease-out);

		// Subtext styling
		&.subtext {
			padding-top:1px;
			padding-bottom: 4px;

			> em {
				display: block;
				font-size: @menuFontSize - 4;
				line-height: @menuLineHeight - 4;
				//color: @menuSubTextColor;
				text-align: left;
				font-style: normal;
			}
		}

		// Menu icon tweaks
		&.icon {
			[class^="icon-"], [class*= " icon-"] {
				background-image: none !important;
				width: auto;

				&:before {
					text-indent: 0;
					margin-right: 5px;
				}

			}
		}

		// Menu Image tweaks
		.menu-image {
			max-width: inherit;
			vertical-align: text-top;
			margin-top: -2px;
			margin-left: -2px;
		}
	}

	// Level 1 Style Overrides
	&.l1 {

		> li.active {
			background: @menuActiveBack;
			border: 1px solid @menuActiveBorder;
			.border-radius(@menuItemRadius);
			.box-shadow(@menuActiveShadow);
		}

		> li > .item {
			font-size: @menuFontSize + 2;
			line-height: @menuLineHeight + 3;
			padding-top: 7px;
			padding-bottom: 7px;
			position: relative;

			&.subtext {
				padding-top:1px;
				padding-bottom: 4px;
			}

			.menu-image {
				margin-top: -1px;
			}
		}
	}


	// Default items
	li {
		float: left;
		display: block;
		text-align: center;
		position: relative;
		padding: 2px 2px;
		margin-right: 15px;
		.border-radius(@menuItemRadius);
		@media only screen and (min-width: 768px) {
		   border: 1px solid transparent; // to keep distances equal when hovering
		}
	}

	// Parent items
	li.parent {

		> .item {
			position: relative;
			padding-right: 25px;

			&:after {
				//color: @menuArrowColor;
				position: absolute;
				right: 6px;
				top: 50%;
				margin-top: -12px;
				font-family: FontAwesome;
				// content: "\f0d7"; // icon-caret-down
				content: "\f078"; // icon-chevron-down
				font-size: 11px;
			}
		}
	}

	// Dropdown styling
	.dropdown {
		margin: 0 auto;
		padding: 10px 0;
		position: absolute;
		opacity: 0;
		left: -999em;
		text-align: left;
		border: 1px solid @menuBorder;
		border-top: 0;
		background: @menuDropBack;
		.transition(opacity 0.2s ease-out);
		//.border-radius(5px 5px 5px 5px);
		.border-radius(@menuItemRadius);
		.box-shadow(@menuFullShadow);
		z-index: 1000;

		.flyout {
			display: block;
		}


		ul {
			> li {
				display:block;
				float:none;
				margin-right: 0;
				padding: 7px 5px;
				border: 0;

				&.active {
					> .item {
						// color: @menuTextHover;
					}
				}

			      >	.item { // NOTE >
					border: 1px solid transparent;
					padding-top: 10px; //NOTE
					padding-bottom: 10px;
				}

				&.parent {
					> .item:after {
						margin-top: -10px;
						font-family: FontAwesome;
						// content: "\f0da"; // icon-caret-right
						content: "\f054"; // icon-chevron-right
						font-size: 11px;
					}
				}
			}
		}

		// Grouped styling
		.grouped {

			&.parent {
				> .item {
					.border-fixer {
						display:none;
					}
					&:after {
						font-family: FontAwesome;
						// content: "\f0d7"; // icon-caret-down
						content: "\f078"; // icon-chevron-down
						font-size: 11px;
					}
				}
			}

			ol {
				background: @menuActiveBack;
				border: 1px solid @menuActiveBorder;
				.border-radius(@menuItemRadius);
				.box-shadow(@menuActiveShadow);
				margin: 6px 0px;
				padding: 3px 0;

				> li {
					> .item {
						font-size: @menuFontSize - 1;
						padding-top: 3px;
						padding-bottom: 3px;
					}
				}
			}
		}

		// Module styling
		.modules {
			text-align: left;
			color: @moduleTextColor;

			.module-content {
				padding: 0 10px;

				h1,h2,h3,h4,h5 {
					color: @moduleHeaderColor;
				}

				a {
					color: @moduleLinkColor;
				}

				p {
					margin: 0 0 10px 0;
					font-size: @menuFontSize - 1;
					line-height: @menuLineHeight - 3;
				}
			}
		}

	}

	// Flyout Dropdown (3rd Level +)
	.flyout {
		border-top: 1px solid @menuBorder;
	}

	// Columns
	.column {
		float: left;
		position: relative;
	}


	// Alignment Helpers
	.position-left {
		float: left;
		margin-right: 15px;
	}

	.position-right {
		float: right;
		margin-left: 15px;
	}

	// Splitmenu specific fixes
	&.gf-splitmenu {
		li.parent {
			&:hover {
				.border-radius(@menuItemRadius);
			}
		}
	}

}







// 3 lines toggle for tablets/mobile
.gf-menu-toggle {
	padding: 7px 10px;
	border: 1px solid @menuBorder;
	border-top: 0;
	.border-radius(@menuItemRadius);
	#gradient > .vertical(lighten(@menuMobileGradient,5%), darken(@menuMobileGradient,10%));
	.box-shadow(@menuFullShadow);
	position: absolute;
	z-index: 10;
	top: 10px;
	left: 10px;
	cursor: pointer;

	&.active {

		border: 1px solid @menuActiveBorder;
		.box-shadow(@menuActiveShadow);
		#gradient > .vertical(@menuMobileGradient, darken(@menuMobileGradient,15%));
	}

	.icon-bar {
		background-color: @menuTextColor;
		border-radius: 1px 1px 1px 1px;
		box-shadow(@menuDropShadow);
		display: block;
		height: 2px;
		width: 18px;

		& + .icon-bar {
		margin-top: 3px;
		}
	}
}

// Responsive Media Queries

// Desktop Modes
@media only screen and (min-width: 960px) and (max-width: 1199px) {
	.layout-mode-responsive {
		.gf-menu.l1 > li {
			margin-right: 5px;
		}
	}
}

@media (min-width: 768px) and (max-width: 959px) {
	.layout-mode-responsive {
		.gf-menu.l1 > li {
			margin-right: 5px;

			> .item {
				font-size: @menuFontSize + 1;
				&.subtext {
					padding-top:7px;
					padding-bottom: 7px;
					em {
						display:none;
					}
				}

				&.image {
					img {
						display: none;
					}
				}
			}
		}
	}
}


// Hover specific styling for > tablets
@media only screen and (min-width: 768px) {
	.layout-mode-responsive {
		@import "menu-hovers.less";
	}
}

.layout-mode-960fixed, .layout-mode-1200fixed {
	@import "menu-hovers.less";
}

// Mobile Specific Mode (Tree View)
@media (max-width: 767px) {
	.layout-mode-responsive {
		.gf-menu-device-wrapper {
			margin-bottom: 15px !important;
		}

		.gf-menu-device-container {
			background: @menuMobileBack;
			border: 1px solid @menuBorder;
			border-top: 0;
			.box-shadow(@menuInsetShadow);
			.border-radius(@menuItemRadius);
			padding: 5px;

			select {
				margin-bottom: 0;
				width: 100%;
			}
		}


		.rt-block .gf-menu {
			li {
				>a {
					color: @white;
				}
			}
		}


		// design module menus
		.rt-block .module-content .gf-menu {
			#gradient > .horizontal(@cduOrangeDark, @cduOrangeLight);
			//background: inherit;

			// everything else
			ul, ol {
				background: inherit;
			}

			li {
				background: inherit;
			}
			&.active {

				&.last {
					background:  inherit;
				}
			}
			.columns-1 > .col1,
			.columns-2 > .col2,
			.columns-3 > .col3,
			.columns-4 > .col4 {
				> ul > li:last-child {
					background: inherit;
				}
			}

			ol {
				> li:last-child {
					background: inherit;
				}
			}
			// top level special cases
			> li:first-child, > li:first-child.active  {
				margin-top: 0px;
				background: inherit;
			}

			> li:last-child {
				background: inherit;
			}
		}


		.rt-block .gf-menu {
			border-top: 15px; // solid @menuMobileBack;
			background-clip: content-box;
			-webkit-background-clip: content-box;
			background: @menuMobileBack url(../images/menu/tree-main.png) repeat-y;

			// everything else
			ul, ol {
				background: @menuMobileBack url(../images/menu/tree-main.png) repeat-y;
			}


			li {
				background: url(../images/menu/tree-node.png) no-repeat;
				padding-left: 20px !important;
				margin-right: 0 !important;

				&.active {

					&.last {
						background: url(../images/menu/tree-node.png) no-repeat;
						border: 0 !important;
						.box-shadow(none) !important;
						> .item {
							background: @menuActiveBack;
							border: 1px solid @menuActiveBorder;
							.border-radius(@menuItemRadius);
							.box-shadow(@menuActiveShadow);
						}
					}
				}

				.columns-1 > .col1,
				.columns-2 > .col2,
				.columns-3 > .col3,
				.columns-4 > .col4 {
					> ul > li:last-child {
						background: @menuMobileBack url(../images/menu/tree-node-last.png) 0 -2px no-repeat;
					}
				}

				ol {
					> li:last-child {
						background: @menuMobileBack url(../images/menu/tree-node-last.png) 0 -2px no-repeat;
					}
				}


				&:hover > .item {
					color: @menuTextHover !important;
					//text-shadow: 1px 1px 0 @menuTextShadow;
				}

				.item {
					padding: 2px 5px !important;
					&.subtext {
						em {
							display:none;
						}
					}

					&:after {
						content: '' !important;
					}
				}
			}

			// top level special cases
			> li:first-child, > li:first-child.active  {
				margin-top: -15px;
				background: url(../images/menu/tree-node-first.png) no-repeat;
			}

			> li:last-child {
				background: @menuMobileBack url(../images/menu/tree-node-last.png) 0 -2px no-repeat;
			}

			.dropdown {
				width: 100% !important;
				border: 0 !important;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
				background: transparent !important;
				.box-shadow(none) !important;
				position: relative;
				left: inherit;
				top: inherit;
				opacity: 1;
				.clearfix();

				.flyout {
					display: block;
				}

				.column {
					width: 100% !important;
				}

				.grouped {
					ol {
						.box-shadow(none) !important;
						border: 0 !important;
						margin: 0 !important;
						padding: 0 !important;
					}
				}

				.modules {
					display: none;
				}
			}


			&.l1 {

				> li {
					float: none;
					margin-left: -1px;

					&.active {
						margin-left: 0px;
						background: transparent;
						.box-shadow(none);
						border: 0;
					}

					> .item {
						font-size: @menuFontSize + 1;
					}
				}
			}
		}
	}
}

// RTL
body.rtl {
	.gf-menu {
		&.l1 {
			> li {
				float: right;
			}
		}
		li {
			.item {
				text-align: right;
			}
			&.parent {
				> .item {
					padding-right: 8px;
					padding-left: 25px;
					&:after {
						right: inherit;
						left: 6px;
					}
				}
			}
		}
	}
	.gf-menu-toggle {
		left: inherit;
		right: 10px;
	}
	.dropdown {
		.border-radius(@menuItemRadius 0 @menuItemRadius @menuItemRadius);
		ul {
			li {
				&.parent {
					> .item:after {
						content: "\f053"; // icon-chevron-left
						font-size: 11px;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.layout-mode-responsive.rtl {
		.gf-menu {
			&.l1 {
				> li {
					float: none;
				}
			}
			li {
				.item {
					text-align: left;
				}
			}
		}
	}
}


/* Being: Mobile sidemenu */
body.layout-mode-responsive {
	.transition(left 0.2s ease-out);
	position: relative;

	.gf-menu-device-wrapper-sidemenu  {
		left: -@menuSideSize;
		-webkit-overflow-scrolling: touch;
	}

	.gf-sidemenu-size-left {
		left: 0;
		.transition(left 0.2s ease-out);
	}
}

body.gf-sidemenu-size-marginleft {
	left: @menuSideSize;
	position: relative;
	overflow: hidden;
	.transition(left 0.2s ease-out);
}

@media (max-width: 767px) {

	//.gf-menu-device-container.responsive-type-panel ~ ul.gf-menu {
	.gf-menu-device-container.responsive-type-panel{
		display: none;
	}
	.layout-mode-responsive {
		.gf-menu-device-wrapper {
			&.gf-menu-device-wrapper-sidemenu {
				margin-bottom: 0 !important;
			}
		}

		// sidemenu

		.gf-menu-device-wrapper-sidemenu {
			.transition(left 0.2s ease-out);
			position: fixed !important;
			top: 0;
			left: -@menuSideSize;
			right: 0;
			bottom: 0;
			margin: 0 !important;
			z-index: 1001;
			overflow: auto !important;

			background: @menuMobileBack;
			border: 0;
			.box-shadow(@menuInsetShadowSide);
			.border-radius(0);
			.box-sizing(border-box);
			padding: 0;
			width: @menuSideSize;

			.gf-menu-device-container {
				display: block;
				padding: 0;
				margin: 0;
				.border-radius(0);
				.box-shadow(none);
				border: 0;
				width: 95%;
			}
		}

	}
}

@media (min-width: 768px) {
	.layout-mode-responsive {
		.gf-menu-device-wrapper-sidemenu {
			left: -@menuSideSize;
		}
	}
	body.gf-sidemenu-size-marginleft {
		left: 0;
	}
}
/* End: Mobile sidemenu */
