/**
* @package    CDU Common Template
* @author     Christoph Hagedorn
* @copyright  Copyright © 2007 Free Software Foundation, Inc. <http://fsf.org />
* @license    GNU/GPL, see license.php
*
* @author    RocketTheme http://www.rockettheme.com
* @copyright Copyright (C) 2007 - 2014 RocketTheme, LLC
* @license http://www.gnu.org/copyleft/gpl.html GNU/GPL
**
*   This program is free software: you can redistribute it and/or modify
*   it under the terms of the GNU General Public License as published by
*   the Free Software Foundation, either version 3 of the License, or
*   (at your option) any later version.*
*
*   This program is distributed in the hope that it will be useful,
*   but WITHOUT ANY WARRANTY; without even the implied warranty of
*   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*   GNU General Public License for more details.
*
*   You should have received a copy of the GNU General Public License
*   along with this program.  If not, see <http://www.gnu.org/licenses/>.
*
** FONTS
*   As a special exception, if you create a document which uses this font,
*   and embed this font or unaltered portions of this font into the document,
*   this font *does not by itself cause the resulting document to be covered
*   by the GNU General Public License. This exception does not however
*   invalidate any other reasons why the document might be covered by the
*   GNU General Public License. If you modify this font, you may extend this
*   exception to your version of the font, but you are not obligated to do so.
*   If you do not wish to do so, delete this exception statement from your version.
*
** JAVASCRIPT
*   As a special exception to the GPL, any HTML file which merely makes function
*   calls to this code, and for that purpose includes it by reference shall be deemed
*   a separate work for copyright law purposes. In addition, the copyright holders of
*   this code give you permission to combine this code with free software libraries
*   that are released under the GNU LGPL. You may copy and distribute such a system
*   following the terms of the GNU GPL for this code and the LGPL for the libraries.
*   If you modify this code, you may extend this exception to your version of the code,
*   but you are not obligated to do so. If you do not wish to do so,
*   delete this exception statement from your version.
*
**
* CDU Common Template uses the Gantry Framework (http://www.rockettheme.com), a GNU/GPLv2 web platform theme framework
* Gantry uses the Joomla Framework (http://www.joomla.org), a GNU/GPLv2 content management system
**/

// Essentials -----------------
@white:				#ffffff;
@black: 			#000000;
@light-grey:			#cccccc;
@dark-grey:			#404040;

@baseFontSize:			12pt;
@baseLineHeight:		14pt; // do not use "normal" because of -3 etc.;


// CDU Colors -----------------
// according Corporate Identity, June 2010
@cduOrange:			#ff9900;
@cduOrangeDark:			#E95D0F; //#E85D16;
@cduOrangeLight:		#F49A00;
@cduRed:			#E32B23;
@cduGray:			#878684;
@cduGrey:			@cduGray;
@cduBlue:			#0C4DA2;
@cduEcru:			#E4E2D2;

@cduLeadColor:			@cduOrange;

@cduLinkColor:			@cduOrangeDark;
@cduLinkHover:			@cduOrangeLight;

@cduHeadBackground:		@cduLeadColor;
@cduHeadText:			#fefefe; // almost white
@cduHeadTitle:			#fefefe; // almost white
@cduHeadShadow:			@cduOrangeDark;
@cduHeadBorder:			@cduOrangeDark;

@cduBodyBackground:		#fefefe; // almost white
@cduBodyText:			@black;
@cduBodyTitle:			@cduLinkHover;
@cduBodyShadow:			#ffffff; // white

@cduFooterBackground:		@cduGray;
@cduFooterText:			@cduHeadText;
@cduFooterTitle:		@cduHeadTitle;
@cduFooterShadow:		@cduHeadShadow;
@cduFooterBorder:		@cduHeadBorder;

@cduErrorBackground:		#F0C1C0;   // light red
@cduErrorText:			@cduBodyText;
@cduWarnBackground:		#F0E0CF;   // light yellow
@cduWarnText:			@cduBodyText;
@cduInfoBackground:		#C6F0C9;   // light green
@cduInfoText:			@cduBodyText;


// CDU Fonts -----------------


@font-face {
    font-family: 'CDU Kievit';
    src: url('../fonts/CDUKvTW_.ttf') format('truetype');
}

@font-face {
    font-family: 'CDU Kievit Bold';
    src: url('../fonts/cdukvtb_.ttf') format('truetype');
}

@font-face {
    font-family: 'CDU Kievit Medium';
    src: url('../fonts/CDUKievitWeb-Medium.eot');
    src: url('../fonts/CDUKievitWeb-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CDUKievitWeb-Medium.woff') format('woff');
}

@font-face {
    font-family: 'CDU Kievit BoldItalic';
    src: url('../fonts/CDUKievitWeb-BoldItalic.eot');
    src: url('../fonts/CDUKievitWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CDUKievitWeb-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'CDU Helvetica Roman';
    src: url('../fonts/CDUHelvetica-Roman.ttf') format('truetype');
}

@font-face {
    font-family: 'CDU Helvetica Bold';
    src: url('../fonts/CDUHelvetica-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'CDU Skopex BoldItalic';
    src: url('../fonts/CCDUSkopexBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'CDU Skopex RegularItalic';
    src: url('../fonts/CDUSkopexRegularItalic.ttf') format('truetype');
}


@cduButtonFont:			"CDU Kievit BoldItalic", Verdana, "Nimbus Sans L", FreeSans, sans-serif;
@cduTitleFont:			"CDU Helvetica Roman", Helvetica, "Nimbus Sans L", FreeSans, sans-serif;
@cduTextFont:			"CDU Kievit", Verdana, "Nimbus Sans L", FreeSans, sans-serif;


// Links
@linkcolor:			@cduLinkColor;
@linkhover:			@cduLinkHover;

// Base Menu variables
@menuFontFamily:	@cduButtonFont;
@menuFontSize:		@baseFontSize;
@menuLineHeight:	@baseLineHeight; // > 12, da -12 irgendwo
@menuItemRadius:	4px;
@menuSideSize:		180px;

 // @menuHoverColor is set in backend
@menuTextColor:		@cduHeadText;
@menuTextHover:		@menuTextColor;
@menuTextShadow:	@white;
@menuBackground:	@cduOrangeDark;



// Top Section -----------------
@topbackground:			@cduHeadBackground;
@topbackground2:		@cduHeadBackground;
@toptext:			@cduHeadText;
@toptitle:			@cduHeadTitle;
@tophover:			lighten(@cduHeadTitle, 20%);
@topshadow:			@cduHeadShadow;
@topborder:			@cduHeadBorder;


// Drawer --------------------
@drawerbackground:	@white;
@drawershadow:		@black;


// Showcase --------------------
@showcasebackground:	@cduBlue;
@showcasebackground2:	#1A83AA;
@showcasebackground3:	#47C0DE;
@showcasetext:		@white;
@showcaseborder:	@black;
@showcaseshadow:	#bbbbbb;
@showcasetitle:		#ffffff;
@showcasehover:		darken(@showcasetitle, 10%);;


// Body ------------------------
@bodybackground:		@cduBodyBackground;
@bodybackground2:		#f0f0f0;
@bodybackground3:		#fcfcfc;
@bodybackground4:		#eaeaea;
@bodytext:			@cduBodyText;
@bodytextlight:			#E4E4E4;
@bodytitle:			@cduLinkHover;
@bodyhover:			@cduLinkHover;
@bodyborder:			@cduGray;
@bodyborder2:			#dddddd;
@bodyborder3:			@black;
@bodycontrast:			#ffffff;

// Main Top --------------------
@maintopbackground:		#f0f0f0;

// Footer ----------------------
@footerbackground:		@cduFooterBackground;
@footertext:			@cduFooterText;
@footerborder:			@white;

// Form Feedbacks --------------
@warningText:             @cduWarnText;
@warningBackground:       @cduWarnBackground;
@warningBorder:           darken(spin(@warningBackground, -10), 3%);

@errorText:               @cduErrorText;
@errorBackground:         @cduErrorBackground;
@errorBorder:             darken(spin(@errorBackground, -10), 3%);

@successText:             #326233; // green
@successBackground:       @cduInfoBackground; // light green
@successBorder:           darken(spin(@successBackground, -10), 5%);

@infoText:                @cduInfoText;
@infoBackground:          @cduInfoBackground;
@infoBorder:              darken(spin(@infoBackground, -10), 7%);

@monoFontFamily:	Menlo, Monaco, Consolas, "Courier New", monospace;




// Horizontal forms & lists
// -------------------------
@horizontalComponentOffset:       160px;


